body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2124px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:198px;
  width:100px;
  height:60px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:302px;
  width:100px;
  height:60px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:258px;
  width:0px;
  height:0px;
}
#u60_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u60_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u60_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u62_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u62_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:377px;
  width:100px;
  height:60px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:467px;
  width:100px;
  height:60px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:559px;
  width:100px;
  height:60px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:650px;
  width:100px;
  height:60px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:740px;
  width:100px;
  height:60px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:407px;
  width:0px;
  height:0px;
}
#u69_seg0 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-4px;
  width:96px;
  height:8px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:497px;
  width:0px;
  height:0px;
}
#u70_seg0 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-4px;
  width:96px;
  height:8px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:589px;
  width:0px;
  height:0px;
}
#u71_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:95px;
  height:8px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:680px;
  width:0px;
  height:0px;
}
#u72_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:95px;
  height:8px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:770px;
  width:0px;
  height:0px;
}
#u73_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:95px;
  height:8px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:399px;
  width:77px;
  height:46px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:353px;
  width:77px;
  height:46px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:572px;
  width:80px;
  height:48px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:524px;
  width:80px;
  height:48px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:678px;
  width:80px;
  height:48px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:630px;
  width:80px;
  height:48px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:784px;
  width:80px;
  height:48px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:736px;
  width:80px;
  height:48px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:376px;
  width:0px;
  height:0px;
}
#u82_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-4px;
  width:43px;
  height:8px;
}
#u82_seg1 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-4px;
  width:8px;
  height:39px;
}
#u82_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:27px;
  width:22px;
  height:8px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:422px;
  width:0px;
  height:0px;
}
#u83_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-4px;
  width:43px;
  height:8px;
}
#u83_seg1 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-19px;
  width:8px;
  height:23px;
}
#u83_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-19px;
  width:22px;
  height:8px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:548px;
  width:0px;
  height:0px;
}
#u84_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-4px;
  width:43px;
  height:8px;
}
#u84_seg1 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-4px;
  width:8px;
  height:49px;
}
#u84_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:37px;
  width:22px;
  height:8px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:596px;
  width:0px;
  height:0px;
}
#u85_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-4px;
  width:43px;
  height:8px;
}
#u85_seg1 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-11px;
  width:8px;
  height:15px;
}
#u85_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-11px;
  width:22px;
  height:8px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:654px;
  width:0px;
  height:0px;
}
#u86_seg0 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-4px;
  width:42px;
  height:8px;
}
#u86_seg1 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-4px;
  width:8px;
  height:34px;
}
#u86_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:22px;
  width:22px;
  height:8px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:702px;
  width:0px;
  height:0px;
}
#u87_seg0 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-4px;
  width:42px;
  height:8px;
}
#u87_seg1 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-26px;
  width:8px;
  height:30px;
}
#u87_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-26px;
  width:22px;
  height:8px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:760px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-4px;
  width:42px;
  height:8px;
}
#u88_seg1 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-4px;
  width:8px;
  height:18px;
}
#u88_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:6px;
  width:22px;
  height:8px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:808px;
  width:0px;
  height:0px;
}
#u89_seg0 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-4px;
  width:42px;
  height:8px;
}
#u89_seg1 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-42px;
  width:8px;
  height:46px;
}
#u89_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-42px;
  width:22px;
  height:8px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:198px;
  width:100px;
  height:60px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:302px;
  width:100px;
  height:60px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:826px;
  width:100px;
  height:60px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1722px;
  top:1268px;
  width:100px;
  height:60px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:258px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u94_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:362px;
  width:0px;
  height:0px;
}
#u95_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u95_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u95_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:377px;
  width:100px;
  height:60px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:467px;
  width:100px;
  height:60px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:559px;
  width:100px;
  height:60px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:650px;
  width:100px;
  height:60px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:740px;
  width:100px;
  height:60px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:407px;
  width:0px;
  height:0px;
}
#u101_seg0 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-4px;
  width:96px;
  height:8px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:497px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-4px;
  width:96px;
  height:8px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:589px;
  width:0px;
  height:0px;
}
#u103_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:95px;
  height:8px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:680px;
  width:0px;
  height:0px;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:95px;
  height:8px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:770px;
  width:0px;
  height:0px;
}
#u105_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:95px;
  height:8px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:882px;
  width:100px;
  height:60px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:971px;
  width:100px;
  height:60px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:1061px;
  width:100px;
  height:60px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:1153px;
  width:100px;
  height:60px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:912px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:95px;
  height:8px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:1001px;
  width:0px;
  height:0px;
}
#u111_seg0 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-4px;
  width:96px;
  height:8px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:1091px;
  width:0px;
  height:0px;
}
#u112_seg0 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-4px;
  width:96px;
  height:8px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:1183px;
  width:0px;
  height:0px;
}
#u113_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:95px;
  height:8px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:53px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:908px;
  width:86px;
  height:52px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:399px;
  width:77px;
  height:46px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:353px;
  width:77px;
  height:46px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:572px;
  width:80px;
  height:48px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:524px;
  width:80px;
  height:48px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:678px;
  width:80px;
  height:48px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:630px;
  width:80px;
  height:48px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:784px;
  width:80px;
  height:48px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:736px;
  width:80px;
  height:48px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:376px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u123_seg1 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:8px;
  height:39px;
}
#u123_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:27px;
  width:20px;
  height:8px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:422px;
  width:0px;
  height:0px;
}
#u124_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u124_seg1 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-19px;
  width:8px;
  height:23px;
}
#u124_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-19px;
  width:20px;
  height:8px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:548px;
  width:0px;
  height:0px;
}
#u125_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u125_seg1 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:8px;
  height:49px;
}
#u125_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:37px;
  width:20px;
  height:8px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:596px;
  width:0px;
  height:0px;
}
#u126_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u126_seg1 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-11px;
  width:8px;
  height:15px;
}
#u126_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-11px;
  width:20px;
  height:8px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:654px;
  width:0px;
  height:0px;
}
#u127_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u127_seg1 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:8px;
  height:34px;
}
#u127_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:22px;
  width:20px;
  height:8px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:702px;
  width:0px;
  height:0px;
}
#u128_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u128_seg1 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-26px;
  width:8px;
  height:30px;
}
#u128_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-26px;
  width:20px;
  height:8px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:760px;
  width:0px;
  height:0px;
}
#u129_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u129_seg1 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:8px;
  height:18px;
}
#u129_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:6px;
  width:20px;
  height:8px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:808px;
  width:0px;
  height:0px;
}
#u130_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u130_seg1 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-42px;
  width:8px;
  height:46px;
}
#u130_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-42px;
  width:20px;
  height:8px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:53px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:856px;
  width:86px;
  height:52px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:104px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:96px;
  width:180px;
  height:103px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:134px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:104px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:96px;
  width:180px;
  height:103px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:134px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:1722px;
  top:212px;
  width:100px;
  height:60px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:1722px;
  top:316px;
  width:100px;
  height:60px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:1722px;
  top:840px;
  width:100px;
  height:60px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:1772px;
  top:272px;
  width:0px;
  height:0px;
}
#u139_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u139_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u139_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:1772px;
  top:376px;
  width:0px;
  height:0px;
}
#u140_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u140_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u140_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:1772px;
  top:900px;
  width:0px;
  height:0px;
}
#u141_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u141_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u141_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:391px;
  width:100px;
  height:60px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:481px;
  width:100px;
  height:60px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:573px;
  width:100px;
  height:60px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:664px;
  width:100px;
  height:60px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:754px;
  width:100px;
  height:60px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:421px;
  width:0px;
  height:0px;
}
#u147_seg0 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-4px;
  width:96px;
  height:8px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:511px;
  width:0px;
  height:0px;
}
#u148_seg0 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-4px;
  width:96px;
  height:8px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:603px;
  width:0px;
  height:0px;
}
#u149_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:95px;
  height:8px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:694px;
  width:0px;
  height:0px;
}
#u150_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:95px;
  height:8px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:784px;
  width:0px;
  height:0px;
}
#u151_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:95px;
  height:8px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:896px;
  width:100px;
  height:60px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:985px;
  width:100px;
  height:60px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:1075px;
  width:100px;
  height:60px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:1167px;
  width:100px;
  height:60px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:926px;
  width:0px;
  height:0px;
}
#u156_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:95px;
  height:8px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:1015px;
  width:0px;
  height:0px;
}
#u157_seg0 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-4px;
  width:96px;
  height:8px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:1105px;
  width:0px;
  height:0px;
}
#u158_seg0 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-4px;
  width:96px;
  height:8px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:1197px;
  width:0px;
  height:0px;
}
#u159_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:95px;
  height:8px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:53px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:2012px;
  top:922px;
  width:86px;
  height:52px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:2021px;
  top:413px;
  width:77px;
  height:46px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:2021px;
  top:367px;
  width:77px;
  height:46px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:2021px;
  top:586px;
  width:80px;
  height:48px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:2021px;
  top:538px;
  width:80px;
  height:48px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:2020px;
  top:692px;
  width:80px;
  height:48px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:2020px;
  top:644px;
  width:80px;
  height:48px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:2020px;
  top:798px;
  width:80px;
  height:48px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:2020px;
  top:750px;
  width:80px;
  height:48px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:2021px;
  top:390px;
  width:0px;
  height:0px;
}
#u169_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u169_seg1 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:8px;
  height:39px;
}
#u169_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:27px;
  width:20px;
  height:8px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:2021px;
  top:436px;
  width:0px;
  height:0px;
}
#u170_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u170_seg1 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-19px;
  width:8px;
  height:23px;
}
#u170_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-19px;
  width:20px;
  height:8px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:2021px;
  top:562px;
  width:0px;
  height:0px;
}
#u171_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u171_seg1 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:8px;
  height:49px;
}
#u171_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:37px;
  width:20px;
  height:8px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:2021px;
  top:610px;
  width:0px;
  height:0px;
}
#u172_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u172_seg1 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-11px;
  width:8px;
  height:15px;
}
#u172_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-11px;
  width:20px;
  height:8px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:2020px;
  top:668px;
  width:0px;
  height:0px;
}
#u173_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u173_seg1 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:8px;
  height:34px;
}
#u173_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:22px;
  width:20px;
  height:8px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:2020px;
  top:716px;
  width:0px;
  height:0px;
}
#u174_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u174_seg1 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-26px;
  width:8px;
  height:30px;
}
#u174_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-26px;
  width:20px;
  height:8px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:2020px;
  top:774px;
  width:0px;
  height:0px;
}
#u175_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u175_seg1 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:8px;
  height:18px;
}
#u175_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:6px;
  width:20px;
  height:8px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:2020px;
  top:822px;
  width:0px;
  height:0px;
}
#u176_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u176_seg1 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-42px;
  width:8px;
  height:46px;
}
#u176_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-42px;
  width:20px;
  height:8px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:53px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:2012px;
  top:870px;
  width:86px;
  height:52px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:104px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:1944px;
  top:97px;
  width:180px;
  height:103px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:1998px;
  top:135px;
  width:73px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:886px;
  width:0px;
  height:0px;
}
#u180_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u180_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u180_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
