body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:486px;
  width:97px;
  height:55px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:445px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:561px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:237px;
  width:97px;
  height:55px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:265px;
  width:0px;
  height:0px;
}
#u4_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u4_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-4px;
  width:8px;
  height:257px;
}
#u4_seg2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:245px;
  width:16px;
  height:8px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:93px;
  width:97px;
  height:55px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:265px;
  width:0px;
  height:0px;
}
#u6_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u6_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-148px;
  width:8px;
  height:152px;
}
#u6_seg2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-148px;
  width:16px;
  height:8px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:42px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:83px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:127px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:178px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:121px;
  width:0px;
  height:0px;
}
#u11_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u11_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-72px;
  width:8px;
  height:76px;
}
#u11_seg2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-72px;
  width:18px;
  height:8px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:121px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u12_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-31px;
  width:8px;
  height:35px;
}
#u12_seg2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-31px;
  width:18px;
  height:8px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:138px;
  width:0px;
  height:0px;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:38px;
  height:8px;
}
#u13_seg1 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-21px;
  width:8px;
  height:25px;
}
#u13_seg2 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-21px;
  width:15px;
  height:8px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:189px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:38px;
  height:8px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-72px;
  width:8px;
  height:76px;
}
#u14_seg2 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-72px;
  width:15px;
  height:8px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:55px;
  background:inherit;
  background-color:rgba(68, 114, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:8px;
  width:97px;
  height:55px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:55px;
  background:inherit;
  background-color:rgba(68, 114, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:198px;
  width:97px;
  height:55px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:188px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:32px;
  width:34px;
  height:188px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:242px;
  width:81px;
  height:46px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:82px;
  width:81px;
  height:46px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:295px;
  width:81px;
  height:46px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:189px;
  width:81px;
  height:46px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:135px;
  width:81px;
  height:46px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:188px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:118px;
  width:34px;
  height:188px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:13px;
  width:81px;
  height:46px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:36px;
  width:0px;
  height:0px;
}
#u25_seg0 {
  border-width:0px;
  position:absolute;
  left:-114px;
  top:-4px;
  width:118px;
  height:8px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:691px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:702px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:38px;
  height:8px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-192px;
  width:8px;
  height:196px;
}
#u27_seg2 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-192px;
  width:15px;
  height:8px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-90px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:456px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:38px;
  height:8px;
}
#u28_seg1 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:8px;
  height:66px;
}
#u28_seg2 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:54px;
  width:15px;
  height:8px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:572px;
  width:0px;
  height:0px;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:38px;
  height:8px;
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-62px;
  width:8px;
  height:66px;
}
#u29_seg2 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-62px;
  width:15px;
  height:8px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:55px;
  background:inherit;
  background-color:rgba(68, 114, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:429px;
  width:97px;
  height:55px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:456px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-4px;
  width:8px;
  height:9px;
}
#u31_seg2 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-3px;
  width:21px;
  height:8px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:445px;
  width:81px;
  height:46px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:501px;
  width:81px;
  height:46px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:389px;
  width:81px;
  height:46px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:188px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:374px;
  width:34px;
  height:188px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:457px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:-4px;
  width:61px;
  height:8px;
}
#u36_seg1 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:-4px;
  width:8px;
  height:123px;
}
#u36_seg2 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:111px;
  width:53px;
  height:8px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:55px;
  background:inherit;
  background-color:rgba(68, 114, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:675px;
  width:97px;
  height:55px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:702px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-4px;
  width:8px;
  height:9px;
}
#u38_seg2 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-3px;
  width:21px;
  height:8px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:572px;
  width:0px;
  height:0px;
}
#u39_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u39_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-4px;
  width:8px;
  height:139px;
}
#u39_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:127px;
  width:21px;
  height:8px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:39px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:597px;
  width:81px;
  height:46px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:653px;
  width:81px;
  height:46px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:709px;
  width:81px;
  height:46px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:188px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:610px;
  width:34px;
  height:188px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:765px;
  width:81px;
  height:46px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:956px;
  width:97px;
  height:55px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  word-wrap:break-word;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:984px;
  width:0px;
  height:0px;
}
#u46_seg0 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-4px;
  width:86px;
  height:8px;
}
#u46_seg1 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-723px;
  width:8px;
  height:727px;
}
#u46_seg2 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-723px;
  width:20px;
  height:8px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:-132px;
  top:-334px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:973px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:55px;
  background:inherit;
  background-color:rgba(68, 114, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:957px;
  width:97px;
  height:55px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:984px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:43px;
  height:8px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:984px;
  width:0px;
  height:0px;
}
#u50_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u50_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-4px;
  width:8px;
  height:9px;
}
#u50_seg2 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-3px;
  width:23px;
  height:8px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
